<h1>Create a New Recipe</h1>

<form action="/recipes" method="post">
  Recipe Name: <input type="text" name="name" /><br>
  Recipe ingredients: <input type="text" name="ingredients" /><br>
  Recipe Cook Time: <input type="number" name="cook_time" /><br>
  <input type="submit" name="submit" />
</form>
