<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Recipes</title>
  </head>
  <body>
    <h1>New Recipe</h1>
    <form action="/recipes" method="post">
      <input type="text" name="name">
      <input type="text" name="ingredients">
      <input type="text" name="cook_time">
      <input type="submit" name="submit">
    </form>
  </body>
</html>
