<br>
Name: <%= @recipe.name %><br>
Cook Time: <%= @recipe.cook_time %><br>
Ingredients: <%= @recipe.ingredients %><br>
<form action="/recipes/<%= @recipe.id %>" method="POST">
	<input type="hidden" name="_method", value="delete">
	<input type="submit" value="delete">
</form>
